header {
	/*колір ХЕДЕРА міняти тут*/
	background: #fff;
	padding: 10px 0;
}
header ul > li:not(:last-child) {
	margin-right: 20px;
}
/*колір логотипа якщо він текстовий*/
header a.logo {
	color: var(--w);
	font-weight: bold;
}
/*колір силок*/
header ul a {
	color: #151515;
	font-weight: 500;
}
header img {
	max-width: 300px;
	max-height: 60px;
}